.committee-section {
    padding: 100px 150px 170px;
    text-align: center;
    background-image: url(/Resources/images/pscBackground/b2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.committee-header {
    max-width: 1300px;
    margin: 0 auto 50px;
}

.committee-description {
    color: #1a3365;
    font-size: 1.2rem;
    padding: 5px 10px;
}

/* ------------------------------------
       MEMBERS GRID
    ------------------------------------ */
.members-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 0 auto;
}

.member {
    background-color: var(--white);
    padding: 25px 20px;
    /* border-radius: 12px; */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    flex: 0 1 300px;
    position: relative;
    overflow: hidden;
    transform: translateY(30px);
    opacity: 0;
}


.member img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    /* border-radius: 50%; */
    margin-bottom: 15px;
    border: 4px solid var(--orange);
    transition: all 0.3s ease;
}


.member h3 {
    font-size: 1rem;
    color: var(--teal);
    margin-bottom: 10px;
    font-weight: 600;
}

.member p {
    font-size: 0.9rem;
    color: var(--dark-teal);
}


@media screen and (max-width: 1200px) {
    .committee-section {
        padding: 120px 50px 120px;
    }
}

@media screen and (max-width: 992px) {
    .member img {
        width: 160px;
        height: 160px;
    }

    .committee-section {
        padding: 100px 30px;
    }
}

@media screen and (max-width: 480px) {
    .committee-section {
        padding: 80px 20px;
    }

    .committee-description {
        font-size: 0.9rem;
    }

    .member p {
        font-size: 0.8rem;
    }
}