@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Jost:wght@300;400;500;600&display=swap');

:root {
    --orange: #ff7350;
    --teal: #125875;
    --dark-teal: #093f55;
    --light-blue: #E9F2F3;
    --white: #FFFFFF;
    --dark-gray: #333333;
    --medium-gray: #666666;
    --light-gray: #CCCCCC;
}

body {
    font-family: 'Roboto', sans-serif !important;
    color: var(--dark-gray);
    background-color: var(--white);
    margin: 0;
    padding-top: 90px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jost', sans-serif !important;
}


.btn-orange {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    transition: 0.3s;
}

.btn-orange:hover {
    background-color: #d94d1f;
}


.text-secondary {
    color: var(--medium-gray) !important;
}



/* ========================================== breadcrumbs========================================= */
.page-banner {
    position: relative;
    background: url("Resources/images/breadcrumbs/breadcrumb1.png") center/cover no-repeat;
    color: var(--white);
    text-align: center;
    height: 280px;
    overflow: visible;
    font-family: 'Jost', sans-serif;
}


.page-banner .banner-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgb(18 87 117 / 93%) 0%, rgb(18 88 117 / 73%) 50%, rgb(18 88 117 / 76%) 100%);
    z-index: 1;
}



.banner-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-title {
    font-size: 42px;
    font-weight: 600;
    margin: 0;
}


.banner-breadcrumb-wrapper {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}


.banner-breadcrumb {
    background: var(--orange);
    display: inline-flex;
    padding: 10px 25px;
    border-radius: 40px;
    font-size: 1.1rem;
    color: var(--white);
    margin: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.banner-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "|";
    color: var(--white);
    padding: 0 8px;
}

.banner-breadcrumb a {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
}

.banner-breadcrumb .active {
    color: var(--white);
    opacity: 0.9;
}