<header class="site-header">
    <!-- Notice Bar -->
    <div class="notice-bar">
        <div class="notice-content">
            Important Notice: Graduate Diploma in Leather, Leather Goods & Footwear Management for Batch-7 and
            Batch-8 (Last Date of Application: 19 August 2025)
        </div>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-white py-2 shadow-sm">
        <div class="container-fluid align-items-center">
            <!-- Logos -->
            <div class="d-flex align-items-center logo-container me-3">
                <a href="https://sicip.gov.bd/#" target="_blank" class="d-inline-block me-2">
                    <img src="/Resources/images/Logo/SICIPLogo.png" alt="SICIP Logo" id="siciplogo" class="logo"
                        loading="lazy">
                </a>
                <a href="#" class="d-inline-block me-2">
                    <img src="/Resources/images/Logo/GovtLogo.png" alt="Govt Logo" id="govtlogo" class="logo"
                        loading="lazy">
                </a>
                <a href="https://www.ewubd.edu/" target="_blank" class="d-inline-block">
                    <img src="/Resources/images/Logo/EWULogo.png" alt="EWU Logo" id="ewulogo" class="logo"
                        loading="lazy">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav align-items-lg-center gap-lg-1">
                    <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
                        <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                            <li><a href="/html/who-we-are.html" class="dropdown-item">Who We Are</a></li>
                            <li><a href="/html/vision-mission.html" class="dropdown-item">Vision &amp; Mission</a></li>
                            <li><a href="/html/p-s-c.html" class="dropdown-item">Project Standing Committee</a></li>
                            <li><a href="/html/edc-sicip-officials.html" class="dropdown-item">EDC-SICIP Officials</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item"><a href="/html/courses.html" class="nav-link">Courses</a></li>
                    <li class="nav-item"><a href="/html/partners.html" class="nav-link">Partners</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="newsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">News &amp; Notice</a>
                        <ul class="dropdown-menu" aria-labelledby="newsDropdown">
                            <li><a href="/html/news.html" class="dropdown-item">News</a></li>
                            <li><a href="/html/notice.html" class="dropdown-item">Notice Board</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a href="/html/gallery.html" class="nav-link">Gallery</a></li>
                    <li class="nav-item"><a href="/html/contact.html" class="nav-link">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>


</header>